h2 {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-inputs {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-actions {
  margin-left: auto;
  margin-right: auto;
  width: 100;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.devise-shared-links {
  margin-left: auto;
  margin-right: auto;
  width: 100;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
