h2 {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}

.form-inputs {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}

.form-actions {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}

.devise-shared-links {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
}
