<div class="container">
  <h1 class="text-center mt-4 mb-3">My Bookings</h1>
  <div class="row">
    <% @orders.each do |order| %>
        <div class="co-12 colsm-6 col-md-4 mb-3">
          <div class="card-product">
            <%= cl_image_tag order.place.photo.key %>
            <div class="card-product-infos">
              <h2><%= order.place.name.capitalize %></h2>
              <p><%= order.checkin %> to <%= order.checkout %></p>
              <p><strong>Total 50€</strong></p>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
