<h1>Booking Summary</h1>
<h3>Thank you, your reservation is confirmed!</h3>
<p>We are looking forward to see you.</p>
<p>Where are your reservation details:</p>
<ul>
<li>Your reservation at <%= @place.name %></li>
<li>Arrival <%= @order.checkin %></li>
<li>Departure <%= @order.checkout %></li>
<li>Total 250€</li>
</ul>
