<div class ="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white justify-content-center">
    <h1>Find a place for your pets to:</h1>
    <h3 class="typed-js"></h3>
    <button type="button" class="btn btn-danger"><%= link_to "Get Started", places_path  %></button>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-1">
  </div>
  <div class="row">
    <div class="col-12 colsm-6 col-md-4 mb-3 mobile-responsive">
      <div class="demo">
      <div class="content1">
        <%= image_tag("landingpage/dog_food.svg") %>
        <h2>Feed Your Cuties</h2>
        <p>We will feed your pets exactly the way the way you do it</p>
      </div>
      </div>
    </div>
    <div class="col-12 colsm-6 col-md-4 mb-3 mobile-responsive">
      <div class="demo">
        <div class="content2">
          <%= image_tag("landingpage/cat_holiday.svg") %>
          <div class="content-text">
            <h2>Leave Your Cuties</h2>
            <p>For when you go on holidays and have no-one to take care of them</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 colsm-6 col-md-4 mb-3 mobile-responsive">
      <div class="demo">
        <div class="content3">
          <%= image_tag("landingpage/happy_bird.svg") %>
          <div class="content-text">
            <h2>Cuties will be happy</h2>
            <p>We guarantee your pets will be taken care of and happy!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
