.showplace{
  h2{
    color:red;
  }

  .img-cont{
    width: 1100px;
    img{
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }
  .form-info{
    box-shadow: 0px 0px 4px black;
    border-radius: 16px;
    padding:50px;
    height:420px;
    position: sticky;
    top: 100px;
  }
}
